<div class="expense-item">
    <div>{expenseItem}</div>
    <div class="expense-item__description">
        <h2>{expenseTitle}</h2>
        <div class="expense-item__price">${expenseAmount}</div>
    </div>
</div>